@model  EntityLayer.Concrete.Heading
@{ ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <br />
    <section class="content">
        <div class="container-fluid">
            <div class="card card-dark">
                <div class="card-header">
                    <h3 class="card-title">Yeni Başlık Ekle</h3>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
                            {
                                <div class="form-group">

                                    <label>Başlık Adı</label>
                                    @Html.TextBoxFor(x => x.HeadingName, new { style = "width: 800px;", placeholder = "Giriniz...", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.HeadingName)
                                    <br />
                                    <label>Kategori</label>
                                    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vlc, new { style = "width: 800px;", @class = "form-control select2" })
                                    <br />
                                    <label>Yazar</label>
                                    @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlw, new { style = "width: 800px;", @class = "form-control select2" })
                                </div>
                                <button class="btn" style="background-color: #457b9d; color: #f1faee">Başlığı Oluştur</button>
                                <a href="/Heading/Index/" class="btn" style="background-color: #e63946; color: #f1faee">İptal</a>
                             }
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</body>
</html>


