@model EntityLayer.Concrete.Admin
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Livingston | Admin Paneli</title>
    <link rel="stylesheet" type="text/css" href="/admin-login/style.css" />
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
</head>

<body>
    <div id="particles-js"></div>
    <div class="animated bounceInDown">
        <div class="container">
            <span class="error animated tada" id="msg"></span>

            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "box" }))
            {

                <h4>Admin<span>Paneli</span></h4>
                <h5>Admin paneline giriş yap.</h5>
                <label>
                    if (ViewBag.errPass == true)
                    {

                    <small class="rmb">E-posta adresiniz ve/veya şifreniz hatalı.</small>

                    }
                </label>

                @Html.TextBoxFor(x => x.AdminUserName, new { placeholder = "E-Posta", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.AdminUserName, "", new { @class = "err" })
                <i id="eye" class="typcn typcn-eye"><span class="iconify" data-icon="typcn:eye"></span></i>
                @Html.PasswordFor(x => x.AdminPassword, new { id = "pwd", placeholder = "Şifre", autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.AdminPassword, "", new { @class = "err" })

                <a href="#" class="forgetpass">Şifremi Unuttum</a>
                <input type="submit" value="Giriş Yap" class="btn1">
            }

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/admin-login/particles.js" defer='defer'></script>
</body>
</html>
