
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/writer-login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/writer-login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/writer-login/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/writer-login/css/style.css">

    <title>Livingston | Giriş</title>
</head>
<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/writer-login/images/seagull.jpg'); "></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <h3><strong>Merhaba,</strong></h3>
                        <p class="mb-4">Livingston'a giriş yap veya hesap oluştur!</p>
                        @using (Html.BeginForm("WriterLogin", "Login", FormMethod.Post))
                        {
                            <div class="form-group first">
                                <label for="username">E-Posta</label>
                                <input type="text" class="form-control" name="WriterMail" placeholder="info@livingston.com" id="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Şifre</label>
                                <input type="password" class="form-control" name="WriterPassword" placeholder="********" id="password">
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <span class="ml-2"><a href="#" class="forgot-pass">Şifremi unuttum</a></span>
                            </div>

                            <input type="submit" value="Giriş Yap" class="btn btn-block btn-info">
                        }
                        <hr />
                        <center>
                            <p><a href="#" class="register">Hesabın yok mu? Kaydol</a></p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/writer-login/js/jquery-3.3.1.min.js"></script>
    <script src="~/writer-login/js/popper.min.js"></script>
    <script src="~/writer-login/js/bootstrap.min.js"></script>
    <script src="~/writer-login/js/main.js"></script>
</body>
</html>