@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="form-group">
        
    <div class="card card-dark">
        <div class="card-header">
            <h3 class="card-title">Kategori Ekle</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm("AddCategory", "AdminCategory", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Kategori Adı</label>
                            @Html.TextBoxFor(x => x.CategoryName, new { placeholder = "Giriniz...", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- textarea -->
                        <div class="form-group">
                            <label>Açıklama</label>
                            @Html.TextAreaFor(x => x.CategoryDescription, new { placeholder = "Giriniz...", @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CategoryDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <button class="btn" style="background-color: #457b9d; color: #f1faee">Kaydet</button>
                <a href="/AdminCategory/Index/" class="btn" style="background-color: #e63946; color: #f1faee">İptal</a>
            }
        </div>
        <!-- /.card-body -->
    </div>
</div>



