@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card card-dark">
    <div class="card-header">
        <h3 class="card-title">Kategoriler</h3>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Kategori Adı</th>
                    <th>Kategori Açıklaması</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
           @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryID</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription.Substring(0, item.CategoryDescription.Substring(0, 100).LastIndexOf(" ")).. </td>
                    <td class="text-right py-0 align-middle">
                        <div class="btn-group btn-group-sm">
                            <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
                            <a href="/AdminCategory/EditCategory/@item.CategoryID" class="btn btn-success"><i class="fas fa-pen"></i></a>
                            <a href="/AdminCategory/DeleteCategory/@item.CategoryID" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<a href="/AdminCategory/AddCategory" class="btn btn-dark">Kategori Ekle</a>


